/* Detalles monstruos */

main > section > table > .nombre > td {
    color:var(--verde-claro);
}
main > section > table > tr > td > em {
    font-weight: bold;
}

.avatar-detalle-monstruo{
    left: 300px;
    top: -30px;
    position: absolute;
    width: 13vw;
    display: block;
    height: auto;
}

.section-overlay-monsters--vademecum{
    position: relative;
}

.avatar-detalle-monstruo:hover{
    transform: scale(2);
}

.stats-base-bonos > td {

    width: 144px;
}
.tipos > td{
    width: 15vw;
}

.rayote{
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

tr.stats > td{
    border-top-style: solid;
    border-top-width: 2px;

}
td > a{
    font-weight: bold;
}
td {
    padding: 0.4rem;
}

.tabla-detalles{
    margin-top: 2rem;
    padding: 1rem;
    border-color: var(--azul-oscuro);
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE y Edge*/
    scrollbar-width: none; /* Para Firefox*/
}

table::-webkit-scrollbar{
    display: none; /* Para chrome */
}
@media only screen and (max-width: 1420px) {
    .avatar-detalle-monstruo {
        left: 350px;
        top: 10px;
    }
}
@media only screen and (max-width: 970px) {
    .avatar-detalle-monstruo {
        left: 300px;
        top: 30px;
        width: 17vw;
    }
}

@media only screen and (max-width: 864px) {
    .avatar-detalle-monstruo {
        left: 300px;
        top: 70px;
    }
}

@media only screen and (max-width: 715px) {
    .avatar-detalle-monstruo {
        left: 250px;
        top: 125px;
        width: 20vw;
    }
}

