@import url(root.css);

/*
__________________________________________________
GENÉRICOS
__________________________________________________
*/

.grid-padre{

    display: grid;
    grid-template-columns: repeat(12, 7.88%);
    grid-template-rows: repeat(12,auto);
    grid-column-gap: .5%;
    grid-row-gap: .5%;
    grid-template-areas:
      ".    .           .           .           .           logo-header titulo-header       .               .               .               .               ."
      ".    .           indxnav     .           vadnav      .           tabnav              .               supnav          .               lognav          ."
      ".    .           .           sectitindx  sectitindx  .           .                   .               astitndx        asndx           asndx           ."
      ".    sectxtindx  sectxtindx  sectxtindx  sectxtindx  sectxtindx      sectxtindx      .               .               asitem1indx     aspic1indx      ."
      ".    sectxtindx  sectxtindx  sectxtindx  sectxtindx  sectxtindx      sectxtindx      .               .               asitem2indx     aspic2indx      ."
      ".    secimgindx  secimgindx  secimgindx  secimgindx  secimgindx      secimgindx      .               .               asitem3indx     aspic3indx      ."
      ".    secimgindx  secimgindx  secimgindx  secimgindx  secimgindx      secimgindx      .               .               asitem4indx     aspic4indx      ."
      ".    secimgindx  secimgindx  secimgindx  secimgindx  secimgindx      secimgindx      .               donatit         donatit         donatit         ."
      ".    secimgindx  secimgindx  secimgindx  secimgindx  secimgindx      secimgindx      .               donatxt         donatxt         donatxt         ."
      ".    secimgindx  secimgindx  secimgindx  secimgindx  secimgindx      secimgindx      .               .               .               donabutt        ."
      ".    .           .           .           .           .               .               .               .               .               .               ."
      ".    logo-footer doc-legales doc-legales doc-legales doc-legales     redes-sociales  redes-sociales  redes-sociales  redes-sociales  redes-sociales  .";

}
/* NAV */
.inicio-nav{
    grid-area: indxnav;
}
.vademecum-nav{
    grid-area: vadnav;
}
.tabletop-nav{
    grid-area: tabnav;
}
.support-nav{
    grid-area: supnav;
}
.login-nav{
    grid-area: lognav;
}




/* HEADER */

.logo-header{
    grid-area: logo-header;
}

.titulo-header{
    grid-area: titulo-header;
}

/*Footer*/
.logo-titulo-footer {
    grid-area: logo-footer;
}
.doc-legales{
    grid-area: doc-legales;
}

.redes-sociales{
    grid-area: redes-sociales;
}

/*
____________________________________________________________________________________________________
    ESPECIFICOS
____________________________________________________________________________________________________
*/
/*SECTION*/
.section-title--index{
    grid-area: sectitindx;
}

.section-text--index{
    grid-area: sectxtindx;
}

.section-image--index{
    grid-area: secimgindx;
}

/*ASIDE*/

.aside-title{
    grid-area: astitndx;
}

.aside-item-1--index{
    grid-area: asitem1indx;
}
.aside-pic-1--index{
    grid-area: aspic1indx;
}

.aside-item-2--index{
    grid-area: asitem2indx;
}
.aside-pic-2--index{
    grid-area: aspic2indx;
}

.aside-item-3--index{
    grid-area: asitem3indx;
}
.aside-pic-3--index{
    grid-area: aspic3indx;
}

.aside-item-4--index{
    grid-area: asitem4indx;
}
.aside-pic-4--index{
    grid-area: aspic4indx;
}


.aside-dona-title--index{
    grid-area: donatit;
}
.aside-dona-text--index{
    grid-area: donatxt;
}
.dona{
    grid-area: donabutt;
}

/*
__________________________________________________
                        INDEX
 _________________________________________________
 */





/*
.grid-padre {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 2.5%;
grid-row-gap: 0px;
}
.grid-header {
    grid-area: 1 / 1 / 2 / 13;
}
.grid-nav {
    grid-area: 2 / 1 / 3 / 13;
}
.grid-section--index {
    grid-area: 3 / 2 / 11 / 8;
}
.grid-aside--index {
    grid-area: 3 / 9 / 11 / 12;
}
.grid-footer {
    grid-area: 12 / 1 / 13 / 13;
}
 */