@import url(root.css);

.items-magico--vademecum   , .items-mundano--vademecum {

    width: 30vw;
    margin-left: 1rem;
    margin-right: 1rem;
}
td{
    font-size: 1.2rem;
    width: 10vw;
    margin-top: 1rem;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
td:first-child{
    font-weight: bold;
}

.section-overlay-items-mundanos--vademecum > h1{
    color: var(--gris-claro);
}
tbody > tr > td:first-child::first-letter{
    font-family: var(--titulos);
    color: var(--verde-claro);
    padding-bottom: 1rem;

}


thead {

    background: var(--gris-claro);
    position: sticky;
    box-shadow: 0 2px 2px 1px var(--gris-claro);
    top: 0; /* Importante */

}

/*Filtro*/
@media only screen and (max-width: 1202px) {
    .section-filter--vademecum {
        font-size: 0.7rem;

    }

}
.detalle-monstruo-print{
    width: 35vw;
    display: block;

}


aside > table >  tr > td{
    border: 0;
    margin: 0;

}

.section-filter--vademecum{
    align-items: center;
    display: block;
    width: 90vw;
    margin-bottom: 2rem;
}
tbody >  legend{

    width: 20vw;
    color: var(--verde-claro);
    font-style: var(--titulos);
}

.busca-nombre, .filtro-campaign, .submit-busca{

    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
}
.busca-nombre, .filtro-campaign{
    border-bottom-style: solid;
    border-bottom-color: var(--gris-claro);
    border-top-style: solid;
    border-top-color: var(--gris-claro);
}
.submit-busca{
    border-style: solid;
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);

}

/*Ajustes para la tabla*/

.tabla-monstruos{

    display: block;

    width: 60vw;
    height: 60vh;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE y Edge*/
    scrollbar-width: none; /* Para Firefox*/
}

.tabla-monstruos::-webkit-scrollbar{
    display: none; /* Para chrome */
}

tbody > tr:first-child::first-letter{
    font-family: var(--titulos);
    font-size: 1.3rem;
    color: var(--verde-claro);
}

table {
    border-collapse: collapse;
}

table > thead > tr > td {
    color: var(--gris-oscuro);
    border-style: solid;
    border-width: 2px;
}

