.items-magico--vademecum   , .items-mundano--vademecum {
    width: 30vw;
    margin-left: 1rem;
    margin-right: 1rem;
}
td{
    width: 10vw;
    padding: 1rem;
}
thead > td {
    font-weight: bold;
}

#escribir-monstruos {

    overflow-x: auto;
}
