@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    /*Colores Principales*/
    --gris-oscuro: rgba(73, 81, 96, 1);             /* Hex: 495160*/
    --gris-claro: rgba(186, 198, 186, 1);           /* Hex: BAC6BA*/
    --verde-claro: rgba(164, 249, 187, 1);          /* Hex: A4F9BB*/
    --azul-oscuro: rgba(69, 80, 186, 1);            /* Hex: 4550BA*/
    /*Font Families*/
    --titulos: Cinzel;
    --texto: Lato;

}

