@import url(root.css);

/* Ajustes Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
html,body{
    margin:0;
}


body{

    background-color: var(--gris-oscuro);
    font-family: var(--texto);
    color: var(--gris-claro);
    /*overflow-x: hidden; Trabajo de investigación exhaustivo, sigo sin estar seguro de si esta práctica es buena o mala, simplemente el navegador fastidia bastante
    con un 100vw de viewport que en resumen es 100% de la pantalla. No obstante el navegador tiene en cuenta la scrollball, lo que provoca un overflow. Con esta
    propiedad se evita el overflow*/

}


h1 {
    font-family: var(--titulos),Serif;
    color: var(--gris-oscuro);
    font-weight: normal;
    margin-bottom: 8%;
}

h2 {
    font-family: var(--titulos), Serif;
    font-weight: lighter;
    margin-bottom: 8%;
    font-size: 1.2rem;

}


.grid-aside--index{
    border-bottom-width: 10px;
    border-left-style: solid;
    border-left-color: var(--gris-claro);
}
.aside-title, .aside-menu, .aside-dona-title--index, .aside-dona-text--index, .dona{
    margin-left: 10%;
}


 {}
/* Header */

header {
    background-color: var(--gris-claro);
}

header h1{
    font-size: 2vw;
    margin-bottom: 0;
}

header h1 em,footer h1 em{
    font-style: unset;
    font-weight: bold;
}

footer {
    background: var(--gris-claro);
    color: var(--gris-oscuro);
}



img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}


/* Navs */
/*Listas - menu*/

ul {
    list-style-type: none;
}
.grid-nav{
    font-size: 1.1rem;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
li>a,a{
    text-decoration: none;
    color: var(--gris-claro);
    float: left;
    margin: 0 15% 10px 0;
}


#here{              /*Enlace en el que estamos*/
    color: var(--verde-claro);
}



a:visited,footer>ul>li>a:visited{
    color: var(--gris-oscuro);
}

/*Especificidades*/

.dona{
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: var(--azul-oscuro);
    border-radius: 55px;
}
/* Colores de textos en contraste, todos iran aquí*/

.section-title--index, .aside-title, a:visited{
    color: var(--gris-claro);
}

.redes-sociales {
    font-size: 2rem;
}




div > h2{
    display: grid;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
}


.grid-main--register{

    background-image: url(../img/svg/cavern-blue.svg);

}


.form-bienvenida--register{
    margin-bottom: 2rem;
}

.grid-form--register {

    border-width: 0.1rem;
    border-style: solid;
    background-color: var(--gris-oscuro-opa);
    border-radius: 1rem;
}

.grid-form--register{
    width: 100%;
    margin: 2rem 2rem 2rem 2rem;
    resize: both;
    min-width: 120px;
    max-width: 90vw;

}

form > p > input ,.grid-form--register > div > button {
    border-color: var(--azul-oscuro);
    background: var(--gris-oscuro-opa);
    color: var(--gris-claro);
    border-radius: 1rem;
    height: 3rem;
}

.boletin--register {

    margin-top: 1rem;
}

.t-inp, .b-inp {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}
/* Margins del formularios, no hay que abusar del grid tanto*/
form > p{
    margin-top: 1rem;
}

label {

    margin-bottom: 1rem;
    font-size: 1.5rem;
}

form > div > button, .t-inp, .b-inp {
    margin-bottom: 2rem;
}

.s-lab, .s-inp{
    font-size: 1rem;
}

/*
VADEMECUM
*/

.monsters-overlay--vademecum, .items-overlay--vademecum{

    width: 100rem;
    height: 14rem;
    border-radius: 3.438rem;
    margin: 0.5rem 10rem 0.5rem  10rem;
}

        .monsters-overlay--vademecum{
            background-image: url(../img/monsters.png);
        }
        .items-overlay--vademecum{
            background-image: url(../img/items.png);
        }

.monsters-overlay--vademecum,.items-overlay--vademecum {
    background-repeat: no-repeat;
    min-width: 30px;
    max-width: 80vw;
    background-color: var(--gris-claro);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-position: center;
    height: 25vh;

}

select {
    width: auto;
    text-align-last:center;
    background-color: var(--gris-oscuro-opa);

    border-color: transparent transparent var(--gris-claro) transparent;
    color: var(--gris-claro);
    font-family: var(--texto);
    padding: 0.5rem;
}
.items-explain--vademecum,.monster-explain--vademecum, .section-filter--vademecum>input, .section-filter--vademecum>button, .section-filter--vademecum>select{
    font-size: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    resize: both;
}

.section-filter--vademecum{
    resize: horizontal;
    max-width: 80vw;
    min-font-size: 0.3rem;
}
#crit-busqueda-gen, #name-busqueda-gen{
    width:auto;
    height:auto;
    padding:0.5rem;
    color:var(--gris-claro);
    background-color: var(--gris-oscuro-opa);
    border-top:1px var(--gris-claro);
    border-left: 1px;
    border-right: 1px;
    align-content: center;
    text-align-last:center;
    /*padding-left:48px;
    background-image:url('https://img.icons8.com/ios-filled/50/000000/search--v4.png');
    background-repeat:no-repeat;                    Para meter svg de lupa, pero no me convence
    background-position:left;outline:0;*/
}

#crit-busqueda-gen:focus, #name-busqueda-gen:focus{
    border-color: var(--gris-claro);
}

button.submit-busca{
    width: 7.25rem;
    height: 3.125rem;
    border-radius: 0.938rem;
}



/************MEDIAS*************/

@media only screen and (max-width: 939px) {
    .section-title--index{
        font-size: 0.95rem;
    }
}


/********REGISTER********/
@media only screen and (max-width: 1318px) {

    div>h2.welcome-reg , div>h2.crea-account{
        font-size: 1.5rem;
    }
    .grid-form--register{
        padding: 1rem;
    }
}
/*****VADEMECUM*******/
/********REGISTER********/