@import url(root.css);

/* Ajustes Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: var(--gris-oscuro);
    font-family: var(--texto);
    color: var(--gris-claro);

}


h1 {
    font-family: var(--titulos),Serif;
    color: var(--gris-oscuro);
    font-weight: normal;
    margin-bottom: 8%;
}

h2 {
    font-family: var(--titulos), Serif;
    font-weight: lighter;
    margin-bottom: 8%;
    font-size: 1.2rem;

}


.grid-aside--index{
    border-bottom-width: 10px;
    border-left-style: solid;
    border-left-color: var(--gris-claro);
}
.aside-title, .aside-menu, .aside-dona-title--index, .aside-dona-text--index, .dona{
    margin-left: 10%;
}


 {}
/* Header */

header {
    background-color: var(--gris-claro);
}

header h1{
    font-size: 2vw;
    margin-bottom: 0;
}

header h1 em,footer h1 em{
    font-style: unset;
    font-weight: bold;
}

footer {
    background: var(--gris-claro);
    color: var(--gris-oscuro);
}



img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}


/* Navs */
/*Listas - menu*/

ul {
    list-style-type: none;
}
.grid-nav{
    font-size: 1.1rem;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
li>a,a{
    text-decoration: none;
    color: var(--gris-claro);
    float: left;
    margin: 0 15% 10px 0;
}


#here{              /*Enlace en el que estamos*/
    color: var(--verde-claro);
}



a:visited,footer>ul>li>a:visited{
    color: var(--gris-oscuro);
}

/*Especificidades*/

.dona{
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: var(--azul-oscuro);
    border-radius: 55px;
}
/* Colores de textos en contraste, todos iran aquí*/

.section-title--index, .aside-title, a:visited{
    color: var(--gris-claro);
}

.redes-sociales {
    font-size: 2rem;
}

@media only screen and (max-width: 939px) {
    .section-title--index{
        font-size: 0.95rem;
    }
}


/********REGISTER********/

div > h2{
    display: grid;
    justify-content: center;
    font-size: 2.5rem;

    margin-bottom: 2rem;
    font-weight: bold;

}


.grid-main--register{

    background-image: url(../img/svg/cavern-blue.svg);

}


.form-bienvenida--register{
    margin-bottom: 2rem;
}

form {

    border-width: 0.1rem;
    border-style: solid;
    background-color: var(--gris-oscuro-opa);
    border-radius: 1rem;
}

.grid-form--register{
    width: 100%;
    margin: 2rem 2rem 2rem 2rem;
}

input ,form > div > button {
    border-color: var(--azul-oscuro);
    background: var(--gris-oscuro-opa);
    color: var(--gris-claro);
    border-radius: 1rem;
    height: 3rem;
}

.boletin--register {

    margin-top: 1rem;
}

.t-inp, .b-inp {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}
/* Margins del formularios, no hay que abusar del grid tanto*/
form > p{
    margin-top: 1rem;
}

label {

    margin-bottom: 1rem;
    font-size: 1.5rem;
}

form > div > button, .t-inp, .b-inp {
    margin-bottom: 2rem;
}

.s-lab, .s-inp{
    font-size: 1rem;
}