@import url(root.css);

/* Ajustes Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
html,body{
    margin:0;
}



body{

    background-color: var(--gris-oscuro);
    font-family: var(--texto);
    color: var(--gris-claro);
        /*overflow-x: hidden; Trabajo de investigación exhaustivo, sigo sin estar seguro de si esta práctica es buena o mala, simplemente el navegador fastidia bastante
    con un 100vw de viewport que en resumen es 100% de la pantalla. No obstante el navegador tiene en cuenta la scrollball, lo que provoca un overflow. Con esta
    propiedad se evita el overflow,

    no usar*/
}

select {
    width: auto;
    text-align-last:center;
    background-color: var(--gris-oscuro-opa);
    border-color: transparent transparent var(--gris-claro) transparent;
    color: var(--gris-claro);
    font-family: var(--texto);
    padding: 0.5rem;
}

h1 {
    font-family: var(--titulos),Serif;
    color: var(--gris-oscuro);
    font-weight: normal;
    margin-bottom: 8%;
}

h2 {
    font-family: var(--titulos), Serif;
    font-weight: lighter;
    margin-bottom: 8%;
    font-size: 1.2rem;

}

.monster-explain--vademecum, .items-explain--vademecum {
    word-wrap: normal;
}


.grid-aside--index{
    border-bottom-width: 10px;
    border-left-style: solid;
    border-left-color: var(--gris-claro);
}
.aside-title, .aside-menu, .aside-dona-title--index, .aside-dona-text--index, .dona{
    margin-left: 10%;
}


 {}
/* Header */

header {
    background-color: var(--gris-claro);
}

header h1{
    font-size: 2vw;
    margin-bottom: 0;
}

header h1 em,footer h1 em{
    font-style: unset;
    font-weight: bold;
}

footer {
    background: var(--gris-claro);
    color: var(--gris-oscuro);
}



img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}


/* Navs */
/*Listas - menu*/

ul {
    list-style-type: none;
}
.grid-nav{
    width: 90vw;
    font-size: 1rem;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
li>a,a{
    text-decoration: none;
    color: var(--gris-claro);
    margin: 0 15% 10px 0;
}


#here{              /*Enlace en el que estamos*/
    color: var(--verde-claro);
}



a:visited,footer>ul>li>a:visited{
    color: var(--gris-oscuro);
}

/*Especificidades*/

.dona{
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: var(--azul-oscuro);
    border-radius: 55px;
}
/* Colores de textos en contraste, todos iran aquí*/

.section-title--index, .aside-title, a:visited{
    color: var(--gris-claro);
}

div > h2{
    display: grid;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
}


.grid-main--register{

    background-image: url(../img/svg/cavern-blue.svg);

}
footer, header{
    width: 100vw;
}

.form-bienvenida--register{
    margin-bottom: 2rem;
}

.grid-form--register {

    border-width: 0.1rem;
    border-style: solid;
    background-color: var(--gris-oscuro-opa);
    border-radius: 1rem;
}

.grid-form--register{
    width: 100%;
    margin: 2rem 0 2rem 0;
    resize: both;
    min-width: 120px;
    max-width: 90vw;
}
.grid-main--vademecum{

    resize:horizontal;
}


form > p > input ,.grid-form--register > div > button {
    border-color: var(--azul-oscuro);
    background: var(--gris-oscuro-opa);
    color: var(--gris-claro);
    border-radius: 1rem;
    height: 3rem;
}

.boletin--register {

    margin-top: 1rem;
}

.t-inp, .b-inp {
    width: 2rem;
    height: 2rem;
}
/* Margins del formularios, no hay que abusar del grid tanto*/
form > p{
    margin-top: 1rem;
}

label {

    margin-bottom: 1rem;
    font-size: 1.5rem;
}


form > div > button, .t-inp, .b-inp {
    margin-bottom: 2rem;
}

.s-lab, .s-inp{
    font-size: 1rem;
}

/*
VADEMECUM
*/

.monsters-overlay--vademecum, .items-overlay--vademecum{

    width: 100rem;
    height: 14rem;
    border-radius: 3.438rem;
    margin: 0.5rem 10rem 0.5rem  10rem;
}

        .monsters-overlay--vademecum{
            background-image: url(../img/monsters.png);
            width: 75vw;
        }
            .items-overlay--vademecum{
            background-image: url(../img/items.png);
            width: 75vw;

        }

.monsters-overlay--vademecum,.items-overlay--vademecum {
    background-repeat: no-repeat;
    min-width: 30px;
    max-width: 80vw;
    background-color: var(--gris-claro);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-position: center;
    height: 25vh;

}
.items-explain--vademecum{
    text-shadow: 2px 2px var(--gris-oscuro);
    font-weight: bold;
    color: var(--gris-claro);
    font-size: 2rem;
    position: absolute;
    background-color: var(--gris-oscuro-opa);
    bottom: 35%;
    right: 25%;
    padding-left: 20px;
    padding-right: 20px;
}
.monster-explain--vademecum{

    font-weight: bold;
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.monster-explain--vademecum, .items-explain--vademecum{
width: 50vw;

}

/************MEDIAS*************/

@media only screen and (max-width: 939px) {
    .section-title--index{
        font-size: 0.95rem;
    }
    .redes-sociales > li > a > svg{
        width: 5vw;
    }
    footer > svg {
        align-self: start;
        width: 40vw;
    }
}


/********REGISTER********/
@media only screen and (max-width: 1318px) {

    div>h2.welcome-reg , div>h2.crea-account{
        font-size: 1.2rem;
    }
    .grid-form--register{
        padding: 1rem;
    }

    footer{
        font-size: 0.7rem;
    }

}
/*****VADEMECUM*******/
/********REGISTER********/