@import "grid-padre.css";


.grid-main--support{
    width: 100vw;
    grid-area: main;
    display: grid;
    grid-template-areas:
    "gridsecsup gridsecsup gridsecsup gridsecsup  gridsecsup  gridsecsup    gridsecsup    gridsecsup  gridsecsup  gridsecsup  gridsecsup  gridsecsup"
    "gridsecsup gridsecsup gridsecsup gridsecsup  gridsecsup  gridsecsup    gridsecsup    gridsecsup  gridsecsup  gridsecsup  gridsecsup  gridsecsup"
    "oversupp   oversupp   oversupp   oversupp    oversupp    oversupp      oversupp      oversupp    oversupp    oversupp    oversupp    oversupp"
    "oversupp   oversupp   oversupp   oversupp    oversupp    oversupp      oversupp      oversupp    oversupp    oversupp    oversupp    oversupp"
    "oversupp   oversupp   oversupp   oversupp    oversupp    oversupp      oversupp      oversupp    oversupp    oversupp    oversupp    oversupp"
    "oversupp   oversupp   oversupp   oversupp    oversupp    oversupp      oversupp      oversupp    oversupp    oversupp    oversupp    oversupp"
    "oversupp   oversupp   oversupp   oversupp    oversupp    oversupp      oversupp      oversupp    oversupp    oversupp    oversupp    oversupp"
    "oversupp   oversupp   oversupp   oversupp    oversupp    oversupp      oversupp      oversupp    oversupp    oversupp    oversupp    oversupp";
    grid-gap: .5%;
}

.grid-section--support{
    display: grid;
    justify-content: center;
    grid-area: gridsecsup;
    grid-template-areas:
    "foto-supp  foto-supp   foto-supp   foto-supp   foto-supp   foto-supp       foto-supp       foto-supp   foto-supp   foto-supp   foto-supp  foto-supp"
    "requests   requests    requests    requests    requests    requests        requests        requests    requests    requests    requests   request";
}
.support-head{
    grid-area: foto-supp;
}

.requests--support{
    display: grid;
    grid-area: requests;
    grid-template-areas:
        "newreq newreq newreq newreq .   checkreq   checkreq  checkreq checkreq";
}
.new-request{
    grid-area: newreq;
    justify-self: center;


}

.check-request{
    grid-area: checkreq;
    justify-self: center;

}

.overlay--support{
    display: grid;
    justify-content: center;
    grid-area: oversupp;
    grid-template-areas:
        "imgaboutus   imgaboutus   imgaboutus   imgaboutus    imgaboutus    imgaboutus      imgaboutus      imgaboutus    imgaboutus    imgaboutus    imgaboutus    imgaboutus"
        "imgaboutus   imgaboutus   imgaboutus   imgaboutus    imgaboutus    imgaboutus      imgaboutus      imgaboutus    imgaboutus    imgaboutus    imgaboutus    imgaboutus"
        "titaboutus   titaboutus   titaboutus   titaboutus    titaboutus    titaboutus      titaboutus      titaboutus    titaboutus    titaboutus    titaboutus    titaboutus"
        "paboutus     paboutus     paboutus     paboutus      paboutus      paboutus        paboutus        paboutus      paboutus      paboutus      paboutus      paboutus"
        "paboutus     paboutus     paboutus     paboutus      paboutus      paboutus        paboutus        paboutus      paboutus      paboutus      paboutus      paboutus"
        "paboutus     paboutus     paboutus     paboutus      paboutus      paboutus        paboutus        paboutus      paboutus      paboutus      paboutus      paboutus";
}

.support-aboutus{
    grid-area: imgaboutus;
    justify-self: center;
}

.titulo-aboutus{
    grid-area: titaboutus;
    justify-self: center;
}

.parrafo-aboutus{
    grid-area: paboutus;
    justify-self: center;
}

/* Overlays */



/*  Nueva solicitud  */

.form-section--support{
    display: grid;
    grid-area: oversupp;
    grid-template-areas:
        "newreq   newreq   newreq   newreq    newreq    newreq      newreq      newreq    newreq    newreq    newreq    newreq"
        "newreq   newreq   newreq   newreq    newreq    newreq      newreq      newreq    newreq    newreq    newreq    newreq"
        "newreq   newreq   newreq   newreq    newreq    newreq      newreq      newreq    newreq    newreq    newreq    newreq"
        "newreq   newreq   newreq   newreq    newreq    newreq      newreq      newreq    newreq    newreq    newreq    newreq"
        "newreq   newreq   newreq   newreq    newreq    newreq      newreq      newreq    newreq    newreq    newreq    newreq"
        "newreq   newreq   newreq   newreq    newreq    newreq      newreq      newreq    newreq    newreq    newreq    newreq";
}

.form--support{
    display: grid;
    grid-area: newreq;
    grid-template-areas:
        "usersupp   usersupp   usersupp   usersupp    probsupp    probsupp      probsupp      probsupp    probsupp    probsupp    probsupp    probsupp"
        "usersupp   usersupp   usersupp   usersupp    probsupp    probsupp      probsupp      probsupp    probsupp    probsupp    probsupp    probsupp"
        "usersupp   usersupp   usersupp   usersupp    probsupp    probsupp      probsupp      probsupp    probsupp    probsupp    probsupp    probsupp"
        "mailsupp   mailsupp   mailsupp   mailsupp    probsupp    probsupp      probsupp      probsupp    probsupp    probsupp    probsupp    probsupp"
        "mailsupp   mailsupp   mailsupp   mailsupp    probsupp    probsupp      probsupp      probsupp    probsupp    probsupp    probsupp    probsupp"
        "mailsupp   mailsupp   mailsupp   mailsupp    probsupp    probsupp      probsupp      probsupp    probsupp    probsupp    probsupp    probsupp";

}

.usuario--support{
    display: grid;
    grid-area: usersupp;
    grid-template-areas:
        "suppuserlab   suppuserlab   suppuserlab   suppuserlab"
        "suppuserinp   suppuserinp   suppuserinp   suppuserinp"
        ".             .             .             .";

}
    .support-u-lab {
        grid-area: suppuserlab;
    }
    .support-u-inp {
        grid-area: suppuserinp;
    }



.correo--support{
    display: grid;
    grid-area: mailsupp;
    grid-template-areas:
        "suppmaillab   suppmaillab   suppmaillab   suppmaillab"
        "suppmailinp   suppmailinp   suppmailinp   suppmailinp"
        ".             .             .             .";

}


    .support-c-lab {
        grid-area: suppmaillab;
    }
    .support-c-inp {
        grid-area: suppmailinp;
    }


.incidencia--support{
    grid-area: probsupp;
}

.incidencia--support{
    display: grid;
    grid-area: probsupp;
    grid-template-areas:
            "labprob    labprob      labprob      labprob    labprob    labprob    labprob    labprob"
            "txtprob    txtprob      txtprob      txtprob    txtprob    txtprob    txtprob    txtprob"
            "txtprob    txtprob      txtprob      txtprob    txtprob    txtprob    txtprob    txtprob"
            "txtprob    txtprob      txtprob      txtprob    txtprob    txtprob    txtprob    txtprob"
            "txtprob    txtprob      txtprob      txtprob    txtprob    txtprob    txtprob    txtprob"
            "senprob    senprob      senprob      senprob    senprob    senprob    senprob    senprob";
}

    .l-incidencia{
        grid-area: labprob;
    }

    .incidencia{
        grid-area: txtprob;
    }

    .submit-support{
        grid-area: senprob;
    }





