@import "grid-padre.css";
/*
__________________________________________________
                        VADEMECUM
 _________________________________________________
 */


.grid-main--vademecum{
    width: 100vw;
    grid-area: main;
    display: grid;

    align-content: center;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    ". secover  secover  secover  secover  secover    secover    secover   secover  secover  secover  secover"
    ". secover secover secover secover secover   secover   secover  secover secover secover secover"
    ". secover secover secover secover secover   secover   secover  secover secover secover secover"
    ". secover secover secover secover secover   secover   secover  secover secover secover secover"
    ". secover secover secover secover secover   secover   secover  secover secover secover secover"
    ". secover secover secover secover secover   secover   secover  secover secover secover secover"
    ". secover secover secover secover secover   secover   secover  secover secover secover secover"
    ". secover secover secover secover secover   secover   secover  secover secover secover secover";
    grid-gap: .5%;
}

.section-overlay--vademecum{
    grid-area: secover;
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-template-areas:

        "  .   .  itemsvad     itemsvad    itemsvad    itemsvad    itemsvad    .        .       .   menusvg"
        "  .   .  itemsvad     itemsvad    itemsvad    itemsvad    itemsvad    .        .       .   menusvg"
        "  .   .  pitems       pitems      pitems      pitems      pitems      .        .       .   menusvg"
        "  .   .  monstervad   monstervad  monstervad  monstervad  monstervad  .        .       .   menusvg"
        "  .   .  monstervad   monstervad  monstervad  monstervad  monstervad  .        .       .   menusvg"
        "  .   .  pmonsters    pmonsters   pmonsters   pmonsters   pmonsters   .        .       .   menusvg"
        "  .   .  .            .           .           .           .           .        .       .   .";
}

.busca-nombre{
    grid-area: s-nombre;
}
.filtro-campaign{
    grid-area: f-campaign;
}
.crit-busca{
    grid-area: s-criterio;
}
.submit-busca{
    grid-area: s-submit;
}
.boton-bestiario--vademecum{
    grid-area: go-monster;
}
.boton-equipamiento--vademecum{
    grid-area: go-equip;
}

.items-overlay--vademecum{
    grid-area: itemsvad;
}
.items-explain--vademecum{
    grid-area: pitems;
    display: inline-grid;
    justify-content: center;
}

.monsters-overlay--vademecum{
    grid-area: monstervad;

}

.monster-explain--vademecum{
    grid-area: pmonsters;
    display: grid;
    justify-content: center;
    font-size: 10px;
}


.svgdesplegable{
    display: grid;
    grid-area: menusvg;
}
/* Cargando seleccion de equipamientos con AJAX*/

.section-overlay-items--vademecum {
    grid-area: secover;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        ".  mundvad   mundvad  mundvad    mundvad    .    magicvad    magicvad    magicvad   magicvad   .";
        ".  mundvad   mundvad  mundvad    mundvad    .    magicvad    magicvad    magicvad   magicvad   ."
        ".  mundvad   mundvad  mundvad    mundvad    .    magicvad    magicvad    magicvad   magicvad   ."
        ".  mundvad   mundvad  mundvad    mundvad    .    magicvad    magicvad    magicvad   magicvad   ."
        ".  mundvad   mundvad  mundvad    mundvad    .    magicvad    magicvad    magicvad   magicvad   ."
        ".  mundvad   mundvad  mundvad    mundvad    .    magicvad    magicvad    magicvad   magicvad   ."
        ".  mundvad   mundvad  mundvad    mundvad    .    magicvad    magicvad    magicvad   magicvad   ."
        ".  mundvad   mundvad  mundvad    mundvad    .    magicvad    magicvad    magicvad   magicvad   .";
}


.items-mundano--vademecum{
    grid-area: mundvad;
}

.items-magico--vademecum{
    grid-area: magicvad;
}

/* Tabla y ficha */
/*
.section-overlay-monsters--vademecum{
    grid-area: secover;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        ".  filter   filter  filter    filter    filter filter       filter       filter      filter   ."
        ".  montab   montab  montab    montab    montab      montab    montab    montab   montab   montab "
        ".  montab   montab  montab    montab    montab      montab    montab    montab   montab   montab "
        ".  montab   montab  montab    montab    montab      montab    montab    montab   montab   montab "
        ".  detmontab   detmontab  detmontab    detmontab    detmontab      detmontab    detmontab    detmontab   detmontab   detmontab "
        ".  detmontab   detmontab  detmontab    detmontab    detmontab      detmontab    detmontab    detmontab   detmontab   detmontab "
        ".  detmontab   detmontab  detmontab    detmontab    detmontab      detmontab    detmontab    detmontab   detmontab   detmontab "
        ".  detmontab   detmontab  detmontab    detmontab    detmontab      detmontab    detmontab    detmontab   detmontab   detmontab ";
}

.section-filter--vademecum{
    grid-area: filter;

    grid-auto-flow: row;
    align-content: center;

    align-items: center;
    grid-template-areas:

        "s-nombre    f-campaign       s-submit           go-monster    go-equip";
}

.tabla-monstruos{
    grid-area: montab;

}
.detalle-monstruo-print {
    grid-area: detmontab;
}*/



/*--------------------------------------------------------------------------*/
/* MOBILE */
/* -------  INDEX */
/*--------------------------------------------------------------------------*/

/*(1366x768) Pantalla clase*/

@media only screen and (max-width: 1202px) {
    .grid-padre{

        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(12, minmax(0,1fr));
        grid-template-rows: repeat(12, auto);
        grid-column-gap: .5%;
        grid-row-gap: .5%;
        grid-template-areas:
      "hdgen    hdgen   hdgen       hdgen       hdgen       hdgen       hdgen       hdgen       hdgen       hdgen   hdgen   hdgen"
      ".        navgen  navgen      navgen      navgen      navgen      navgen      navgen      navgen      navgen  navgen  ."
      ".        .       main        main        main        main        main        main        main        main    .       ."
      ".        .       main        main        main        main        main        main        main        main    .       ."
      ".        .       main        main        main        main        main        main        main        main    .       ."
      ".        .       main        main        main        main        main        main        main        main    .       ."
      ".        .       main        main        main        main        main        main        main        main    .       ."
      ".        .       main        main        main        main        main        main        main        main    .       ."
      ".        .       main        main        main        main        main        main        main        main    .       ."
      ".        .       main        main        main        main        main        main        main        main    .       ."
      "ftgen    ftgen   ftgen       ftgen       ftgen       ftgen       ftgen       ftgen       ftgen       ftgen   ftgen   ftgen"
      "ftgen    ftgen   ftgen       ftgen       ftgen       ftgen       ftgen       ftgen       ftgen       ftgen   ftgen   ftgen";

    }



}